h1{
    text-align: center;
}

img{
    width: 90vh;
    display: block;
    margin: auto;
}

button{
    width: 100px;
    height: 40px;
    border-radius: 40px;
    border: none;
    background-color: blueviolet;
}

button:hover{
    background-color: rgb(151, 88, 209);
}

a{
    color: white;
    text-decoration: none;
}

.blanco:checked{
    
}