@font-face {
    font-family: List;
    src: url(../fonts/Magical\ Story.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: sublist;
    src: url(../fonts/Small\ Print.otf);
    font-style: normal;
    font-weight: normal;
}

:root{
    --colorlistas: #BF1818;
    --colorlinks: rgb(132, 24, 132);
    --hoverlistas: #6ed019;
    --hoversublistas: #DB7979;
    --hoverlinks: rgb(234, 103, 234);
    --fondonav: #a3f1f6; 
    --tamañolistas: 28px;
    --tamañosublistas: 23px;
    --tamañolinks: 20px;
    --font: 'Kanit', sanserif;
}

#header nav{
    background: var(--fondonav);
}

.listas{
    color: var(--colorlistas);
    list-style-type: none;
    font-family: List;
    font-size: var(--tamañolistas);
}

.listas, .sublistas:hover{
    cursor: pointer;
}

.listas:hover{
    color: var(--hoverlistas);
}

.sublistas:hover{
    color: var(--hoversublistas);
}

.sublistas{
    color: blue;
    text-decoration: none;
    list-style-type: none;
    font-size: var(--tamañosublistas);
    font-family: Sublist;
}

.links li a{
    text-decoration: none;
    color: var(--colorlinks);
    font-size: var(--tamañolinks);
    font-family: var(--font);
}

.links li a:hover, .contacto:hover{
    color: var(--hoverlinks);
}

.contacto{
    text-decoration: none;
    font-size: var(--tamañolinks);
    font-family: var(--font);
    color: var(--colorlinks);
}

.slider{
    width: 500px;
}

.slider-container{
    block-size: 500px;
    display: block;
    overflow: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    overflow-x: hidden;
}

.slider-image{
    margin: 0;
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
}

.lista-botones{
    text-align: center;
}

.slider-item{
    display: inline-block;
    inline-size: 15px;
    block-size: 15px;
    background-color: black;
    border-radius: 50%;
}